:root{
    --primary-color: #0092BC;
    --secondary-color: #214780;
    --thirdly-color: #ff5d39;
    --fourthly-color: #fff; 
}

body {
    display: flex;
}

.marginBot{
    margin-bottom: 6vh;
}

.marginTop{
    margin-top: 10vh;
}

i img{
    width: 7vh;
    height: 7vh;
}

.barNav{
    color: var(--primary-color);
    background-color: var(--primary-color)s;
    width: 40vh;
    height: 100vh;
    border: 1vh solid black;
}

.nav {
    background-color: var(--primary-color);
    width: 40vh;
    height: 100vh;
    border: 0.5vh solid var(--fourthly-color);
}

.nav a{
    text-decoration: none;
    color: var(--fourthly-color);
    font-size: 3vh;
    padding: 1vh;
    margin: 1vh;
    margin-left: 5vh;
}


main h5{
    text-align: center;
    justify-content: center;
    border: 1px solid #0092BC;
    color: #0092BC;
}

.cardStyle {
    margin-left: 50vh;
    text-align: center;
    justify-content: center;
    margin-top: 15vh;
    background: #0092BC;
    border: 1px solid white;
    width: 35vh;
    height: 40vh;

}

.cardStyle h5{
    color: white;
    
}

.cardStyle a {
    text-decoration: none;
    color: white;
}

.alert {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 15px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.alert.fade-out {
    opacity: 0;
}